<ion-view title="Pupila">
      <ion-content>
        <button class="button button-calm button-full" ng-click="sacarFoto()">
           Sacar foto
        </button>
        <div id="resut-image">
          <!---->
        </div>
        <div id="progress">
          0%
        </div>
        <div class="row trunchos">
           <div class="col">
              <button class="button button-calm button-full" ng-click="trunchar('auto')">Automático</button>
           </div>
           <div class="col">
              <button class="button button-calm button-full" ng-click="trunchar('cristian')">Cristian</button>
           </div>
            <div class="col">
              <button class="button button-calm button-full" ng-click="trunchar('pablo')">Pablo</button>
           </div>
           <div class="col">
              <button class="button button-calm button-full" ng-click="trunchar('beethoven')">Beethoven</button>
           </div>
           <div class="col">
              <button class="button button-calm button-full" ng-click="trunchar('falconiere')">Falconiere</button>
           </div>
        </div>
        
      </ion-content>
</ion-view>